 .action-list {
     display: grid;
     gap: 16px;
 }

 .action-card {
     max-width: 400px;
     width: 100%;
     border: 1px solid #ddd;
     padding: 20px;
     padding-bottom: 40px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     margin: 10px auto;
     background-color: #fff;
     border-radius: 8px;
     transition: box-shadow 0.3s ease;
 }

 .action-card:hover {
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }

 .action-card.completed {
     border: 2px solid #28a745;
 }

 .card-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 10px;
     border-bottom: 1px solid #ddd;
 }

 .action-buttons {
     justify-content: center;
     display: flex;
     gap: 10px;
     align-items: center;
     position: relative;
 }

 .card-header-button {
     color: white;
     border: none;
     padding: 5px 10px;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .card-header-button.reset-button {
     background-color: #17a2b8;
 }

 .card-header-button.reset-button:hover {
     background-color: #138496;
 }

 .card-header-button.finish-button {
     background-color: #28a745;
 }

 .card-header-button.finish-button:hover {
     background-color: #218838;
 }

 .real-duration-card {
     position: absolute;
     top: 35px;
     display: flex;
     align-items: center;
 }

 .real-duration-card>span {
     margin-right: 5px
 }

 .real-duration-buttons {
     border: 1px solid #333;
 }

 #finished-duration {
     border: none;
 }

 .real-duration-buttons>.cancel-button {
     color: #dc3545;
     background-color: transparent;
     border: none;
     border-right: 1px solid #333;
     border-left: 1px solid #333;
     cursor: pointer;
 }

 .real-duration-buttons>.save-button {
     color: green;
     background-color: transparent;
     border: none;
     cursor: pointer;
 }

 .add-comment-button.with-content {
     background-color: #F5A623;
 }

 .add-comment-button.with-content:hover {
     background-color: #d89221;
 }

 .add-comment-button {
     background-color: #EFEFEF;
 }

 .add-comment-button:hover {
     background-color: #b8b8b8;
 }

 .delete-button {
     background-color: #dc3545;
 }

 .delete-button:hover {
     background-color: #c82333;
 }

 .card-title {
     font-size: 1.5rem;
     font-weight: bold;
 }

 .card-description {
     margin-top: 10px;
     color: #777;
 }

 .card-details {
     margin-top: 10px;
 }

 .card-info {
     margin: 5px 0;
 }

 .card-footer {
     margin-top: 10px;
 }

 .card-duration {
     font-size: 0.9rem;
     color: #999;
 }