 .action-list {
     display: grid;
     gap: 16px;
     width: 80%;
     margin: auto;
 }

 .action-card-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
     gap: 20px;
     justify-content: center;
 }

 .create-new-action-container {
     text-align: center;
     margin: 15px;
 }

 .create-new-action {
     border: 1px solid #333;
     display: flex;
     border-radius: 5px;
     padding-left: 10px;
     width: 180px;
     flex-direction: row;
     justify-content: space-between;
     margin: auto;
 }

 .create-new-action span {
     margin: auto;
     padding-right: 4px;
 }

 .edit-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 15px;
 }

 .action-card {
     max-width: 400px;
     width: 100%;
     border: 1px solid #ddd;
     padding: 10px 20px 40px 20px;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     margin: 10px auto;
     background-color: #F7F4EB;
     border-radius: 8px;
     transition: box-shadow 0.3s ease;
 }

 .action-card:hover {
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }

 .action-card.completed-good {
     border: 2px solid #28a745;
 }

 .action-card.completed-bad {
     border: 2px solid #dc3545;
 }

 .action-card-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding-bottom: 10px;
     border-bottom: 1px solid #ddd;
 }

 .action-buttons {
     justify-content: center;
     display: flex;
     gap: 10px;
     align-items: center;
     position: relative;
 }

 .card-header-button {
     color: white;
     border: none;
     padding: 5px 10px;
     border-radius: 4px;
     cursor: pointer;
     transition: background-color 0.3s ease;
 }

 .card-header-button.reset-button {
     background-color: #17a2b8;
 }

 .card-header-button.reset-button:hover {
     background-color: #138496;
 }

 .card-header-button.finish-button {
     background-color: #28a745;
 }

 .card-header-button.finish-button:hover {
     background-color: #218838;
 }

 .real-duration-card {
     position: absolute;
     top: 35px;
     display: flex;
     align-items: center;
 }

 .real-duration-card>span {
     margin-right: 5px
 }

 .real-duration-buttons {
     border: 1px solid #333;
 }

 #finished-duration {
     border: none;
 }

 .real-duration-buttons>.cancel-button {
     color: #dc3545;
     background-color: transparent;
     border: none;
     border-right: 1px solid #333;
     border-left: 1px solid #333;
     cursor: pointer;
 }

 .real-duration-buttons>.save-button {
     color: green;
     background-color: transparent;
     border: none;
     cursor: pointer;
 }

 .add-comment-button.with-content {
     background-color: #F5A623;
 }

 .add-comment-button.with-content:hover {
     background-color: #d89221;
 }

 .add-comment-button {
     background-color: #EFEFEF;
 }

 .add-comment-button:hover {
     background-color: #b8b8b8;
 }

 .delete-button {
     background-color: #dc3545;
 }

 .delete-button:hover {
     background-color: #c82333;
 }

 .edit-button {
     background-color: #999;
 }

 .edit-button:hover {
     background-color: #777;
 }

 .card-title {
     font-size: 1.5rem;
     font-weight: bold;
 }

 .card-description {
     margin-top: 10px;
     color: #777;
 }

 .card-details {
     margin-top: 10px;
 }

 .card-info {
     margin: 5px 0;
 }

 .card-footer {
     margin-top: 10px;
 }

 .card-duration {
     font-size: 0.9rem;
     color: #999;
 }

 .slider-container {
     position: relative;
     display: flex;
     align-items: center;
     justify-content: flex-end;
 }

 .slider-action-label {
     text-align: center;
     font-size: 14px;
 }

 .slider-switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
     margin: 0 10px;
 }

 .slider-switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 .slider-slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: 0.4s;
     transition: 0.4s;
     border-radius: 34px;
 }

 .slider-slider:before {
     position: absolute;
     content: '';
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: 0.4s;
     transition: 0.4s;
     border-radius: 50%;
 }

 .slider-switch input:checked+.slider-slider {
     background-color: #4caf50;
 }

 .slider-switch input:checked+.slider-slider:before {
     transform: translateX(26px);
 }

 .slider-slider.good {
     background-color: #4caf50;
 }

 .slider-slider.bad {
     background-color: #f44336 !important;
 }

 .slider-label.good {
     color: #4caf50;
 }

 .slider-label.bad {
     color: #f44336;
 }