.comment-popup {
    background-color: white;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    z-index: 10;
}

.comment-textarea {
    border: 1px solid #333;
    border-radius: 8px;
    margin: 10px 0;
    padding-left: 10px;
    padding-right: 10px;
}

.comment-input {
    width: 100%;
    height: 120px;
    padding: 0;
    margin-top: 6px;
    color: #333;
    border: none;
    border-bottom: 1px solid #333;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
    font-size: 14px;
    line-height: 1.5;
}

.comment-input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.comment-popup-buttons {
    display: flex;
    justify-content: flex-end;
}

.comment-popup-buttons .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
    color: #888;
}

.icon-button.cancel-button {
    color: #dc3545;
}

.icon-button.save-button {
    color: #28a745;
}

.icon-button:hover {
    color: rgba(0, 0, 0, 0.8);
}