.recommendation-container {
    text-align: center;
    height: 100%;
    flex: 0 0 50%;
    overflow-y: auto;
}

.recommendation-container::-webkit-scrollbar {
    width: 5px;
}

.recommendation-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
}

.recommendation-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.recommendation-container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.show-actions-button {
    background-color: rgb(194, 226, 132);
    color: #3B3C4F;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 10px;
}

.show-actions-button:hover {
    background-color: rgb(154, 180, 104);
}

.action-list {
    list-style: none;
    padding: 0;
}

.action-list li {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.add-action-button {
    background-color: rgb(194, 226, 132);
    color: #3B3C4F;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.add-action-button:hover {
    background-color: rgb(154, 180, 104);
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-popup {
    background-color: white;
    padding: 40px 5px 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    min-height: 200px;
    width: 500px;
    height: 500px;
    position: relative;
}

.modal-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #333;
}

.modal-close-button:hover {
    color: #000;
}